<div class="panel panel-default">
    <div class="panel-body">
        {{markdown-converter (t "markdownText.smpleMarkdown1")}}
        {{markdown-converter (t "markdownText.smpleMarkdown2")}}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        {{markdown-converter (t "markdownText.i18nLoadedDynamically")}}
        {{markdown-converter (t "markdownText.markdownJSLoadedDynamically")}}
    </div>
</div>
